@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tooltip-bg: #fff;
  --border: 214.3 31.8% 91.4%;
  --background: 0 0% 100%;
}

.dark {
  --tooltip-bg: #18181b; /* Zinc 900 */
  --border: 240 3.7% 15.9%; /* Zinc 800 (#27272a) */
  --background: 240 10% 3.9%; /* Jet Black (#09090b) */
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-slate-900;
}

.dark body {
  @apply bg-main text-slate-100;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-track {
  @apply bg-main;
}
.dark ::-webkit-scrollbar-thumb {
  @apply bg-slate-800 border border-main;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}